# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/lep_chat_mobile/build/
/lep_chat_mobile/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/lep_chat_mobile/android/app/debug
/lep_chat_mobile/android/app/profile
/lep_chat_mobile/android/app/release

# Functions
api_lep_chat/functions/node_modules/
api_lep_chat/functions/lib/
api_lep_chat/functions/.env
api_lep_chat/functions/*.log

# FastAPI app
api_lep_chat/app/.env
api_lep_chat/app/__pycache__/
api_lep_chat/app/**/__pycache__/
api_lep_chat/app/.pytest_cache/
api_lep_chat/app/.venv/
api_lep_chat/app/*.json

# Firebase
firebase-debug.log
.firebase/
push.sh
